h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: blueviolet;
    padding: 5px;
    border: 2px solid darkblue;
    display: flex;
    justify-content: space-around;
}

.items:hover {
    background-color: white;
    opacity: 0.5;
}

div2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bordered-image {
    border-color: 2px blue;
}

::backdrop {
    background-color: cadetblue;
}

hr {
    border-color: blueviolet;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div3 {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr3 {
    border-color: black;
}

div4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div5 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}